.textarea {
	border: none;
	background: none;
	outline: none;
	resize: none;
	overflow: hidden;
}

.div-node {
	position: relative;
	top: 50px;
	overflow: scroll;
	margin: 0 auto;
	padding: 6px;
	border-radius: 6px;
	background: white;
	font-size: 12px;
	text-align: center;
}

.div-node-selected {
	background: #ff8080;
}
